# Exercício 3: Alterando Tabelas

## Abrindo conexão com o banco de dados

In [ ]:
%load_ext sql
%sql postgresql://admin:admin@postgres-sql-aula:5432/curso_sql


## Adicionar uma coluna status à tabela pedido

In [ ]:
%%sql
ALTER TABLE pedido ADD COLUMN status VARCHAR(10) NOT NULL DEFAULT 'ativo';

In [ ]:
%%sql
-- no mysql
-- show create table pedido
-- no postgre
SELECT
    a.attnum AS numero,
    a.attname AS coluna,
    format_type(a.atttypid, a.atttypmod) AS tipo,
    NOT a.attnotnull AS is_nullable,
    pg_get_expr(ad.adbin, ad.adrelid) AS default_value
FROM pg_attribute a
LEFT JOIN pg_attrdef ad
       ON a.attrelid = ad.adrelid AND a.attnum = ad.adnum
WHERE a.attrelid = 'pedido'::regclass
  AND a.attnum > 0
  AND NOT a.attisdropped
ORDER BY a.attnum;


## Modificar a tabela item_pedido para incluir desconto

In [ ]:
%%sql
ALTER TABLE item_pedido ADD COLUMN desconto DECIMAL(10, 2) DEFAULT 0;

In [ ]:
%%sql
-- no postgre
SELECT
    a.attnum AS numero,
    a.attname AS coluna,
    format_type(a.atttypid, a.atttypmod) AS tipo,
    NOT a.attnotnull AS is_nullable,
    pg_get_expr(ad.adbin, ad.adrelid) AS default_value
FROM pg_attribute a
LEFT JOIN pg_attrdef ad
       ON a.attrelid = ad.adrelid AND a.attnum = ad.adnum
WHERE a.attrelid = 'item_pedido'::regclass
  AND a.attnum > 0
  AND NOT a.attisdropped
ORDER BY a.attnum;

### Fechar a conexão com o banco de dados

In [ ]:
# Fechar a conexão com o banco de dados
%sql --close postgresql://admin:***@postgres-sql-aula:5432/curso_sql


## Navegação
- [Anterior](04-exercicios-criar-indices.ipynb)
- [Próximo](06-exercicios-criar-view.ipynb)

`[INFO]: FIM NOTEBOOK`