# Exercício 3: Alterando Tabelas

## Abrindo conexão com o banco de dados

In [ ]:
%load_ext sql
%sql postgresql://user_app:user_app@localhost:5432/db_lab_postgres


## Adicionar uma coluna status à tabela pedido

In [ ]:
%%sql
ALTER TABLE pedido ADD COLUMN status VARCHAR(10) NOT NULL DEFAULT 'ativo';


## Modificar a tabela item_pedido para incluir desconto

In [ ]:
%%sql
ALTER TABLE item_pedido ADD COLUMN desconto DECIMAL(10, 2) DEFAULT 0;

### Fechar a conexão com o banco de dados

In [ ]:
# Fechar a conexão com o banco de dados
%sql --close postgresql://user_app:***@localhost:5432/db_lab_postgres


## Navegação
- [Anterior](04-exercicios-criar-indices.ipynb)
- [Próximo](06-exercicios-criar-view.ipynb)