# Aula de SQL

Experimento 2

## Abrindo conex達o com o banco de dados

In [1]:
%load_ext sql
%sql mysql+pymysql://user_app:user_app@db_lab_mysql:3306/db_lab_mysql

Connecting to 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

## Fazendo teste de conex達o de dado de dados

In [2]:
%%sql
SELECT
  1

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

1 rows affected.

+---+
| 1 |
+---+
| 1 |
+---+

## Executando o script

In [4]:
%sql --file UserTable.sql

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

3 rows affected.

++
||
++
++

## Recuperando os dados

In [5]:
%%sql

select * from usuarios

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

3 rows affected.

+----+----------------+-----------------+-------+
| id |      nome      |      email      | idade |
+----+----------------+-----------------+-------+
| 1  |   Jo達o Silva   |  joao@email.com |   30  |
| 2  |  Maria Santos  | maria@email.com |   25  |
| 3  | Pedro Oliveira | pedro@email.com |   35  |
+----+----------------+-----------------+-------+