# Aula de SQL

Experimento 1

## Abrindo conexão com o banco de dados

In [1]:
%load_ext sql
%sql mysql+pymysql://user_app:user_app@db_lab_mysql:3306/db_lab_mysql

Connecting to 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

## Fazendo teste de conexão de dado de dados

In [2]:
%%sql
SELECT
  1

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

1 rows affected.

+---+
| 1 |
+---+
| 1 |
+---+

## Criando a tabela de produtos

In [3]:
%%sql
CREATE TABLE
  IF NOT EXISTS produtos (
    id_produto INT AUTO_INCREMENT PRIMARY KEY,
    nome VARCHAR(120) NOT NULL,
    descricao TEXT,
    preco DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    ativo TINYINT (1) NOT NULL DEFAULT 1,
    criado_em DATETIME DEFAULT CURRENT_TIMESTAMP
  )

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

++
||
++
++

## Fazendo um carga teste

In [12]:
%%sql
INSERT INTO
  produtos (nome, descricao, preco, ativo)
VALUES
  (
    'PRODUTO TESTE',
    'SUPER DESCRICAO TESTE',
    10.99,
    1
  )

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

1 rows affected.

++
||
++
++

## Recuperando os dados via SQL

In [13]:
%%sql
SELECT
  *
FROM
  produtos

Running query in 'mysql+pymysql://user_app:***@db_lab_mysql:3306/db_lab_mysql'

8 rows affected.

+------------+---------------+-----------------------+-------+-------+---------------------+
| id_produto |      nome     |       descricao       | preco | ativo |      criado_em      |
+------------+---------------+-----------------------+-------+-------+---------------------+
|     1      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:51:48 |
|     2      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:03 |
|     3      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:03 |
|     4      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:03 |
|     5      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:03 |
|     6      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:03 |
|     7      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:04 |
|     8      | PRODUTO TESTE | SUPER DESCRICAO TESTE | 10.99 |   1   | 2025-11-03 11:52:04 |
+------------+---------------+-----------------------+-------+-------+---------------------+